<!-- On hérite de la page de base -->
{% extends 'base.html' %}



<!-- Ajout du contenu -->
{% block content %}

<div class="container-fluid d-flex flex-row justify-content-around align-items-start pt-3">

    <a href="/reviews" class="custom-card col-4">
        <div class="card m-3">
            <div class="card-header text-center"><span class="fa fa-search"></span><b> Product Overview</b></div>
            <div class="card-body"><br>Search for products, all associated data will be displayed such as product
                description,
                reviews, price...<br><br><br></div>
            <div class="card-footer text-center">-</div>
        </div>
    </a>

    <a href="/rating" class="custom-card col-4">
        <div class="card m-3">
            <div class="card-header text-center"><span class="fa fa-star"></span><b> 5-Stars Rating</b></div>
            <div class="card-body">Bert model used for sentiment analysis. The overall rating is predicted based on
                customer review texts.<br><br><b>Inputs:</b> Review comment.<br><b>Output:</b> 5-stars
                rating.
            </div>
            <div class="card-footer text-center">Top1 Accuracy: <b>64.5%</b><br>Top2 Accuracy: <b>85.8%</b></div>
        </div>
    </a>

    <a href="/price" class="custom-card col-4">
        <div class="card m-3">
            <div class="card-header text-center"><span class="fa fa-dollar"></span><b> Price Estimator</b>
            </div>
            <div class="card-body">Multi-model approach to give seller an estimated price based on product meta-data and
                pictures.<br><br><b>Inputs:</b> Title, Description, Category and Image.<br><b>Output:</b> Estimated
                Price.
            </div>
            <div class="card-footer text-center">RMSE: <b>20</b></div>
        </div>
    </a>

</div>


{% endblock %}



{% block script %}

<script>

    const navbar = document.getElementById("nav-main")
    navbar.classList.add("visually-hidden")

</script>


{% endblock %}