<!-- On hérite de la page de base -->
{% extends 'base.html' %}


<!-- Ajout du contenu -->
{% block content %}
<div class="container-fluid d-flex flex-column p-0 w-100">
    <!-- Product -->
    <div class="row w-100 d-flex flex-row p-0 m-0">
        <div class="title">
            <b>Product</b>
        </div>
        <div id="p-img" class="col-2 p-0 text-center d-flex justify-content-center flex-column">
        </div>

        <div class="col-sm-9 p-3">
            <div id="p-title" class="p-title">
            </div>

            <div id="p-desc" class="p-desc">
            </div>

            <div id="p-cat" class="p-cat pb-2">
            </div>

            <div id="p-price" class="p-price">
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="row w-100 p-0 m-0">
        <div class="title">
            <b>Reviews</b>
        </div>
        <div id="reviews" class="reviews d-flex flex-column p-0">

        </div>

    </div>




</div>
{% endblock %}



{% block script %}
<script>


    const navitem = document.getElementById("rev")
    var x = document.getElementsByClassName("nav-main-item");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].classList.remove("active");
    }
    navitem.classList.add("active")
    const button = document.getElementById('btnSearch');
    const searchbar = document.getElementById("searchbar")

    button.addEventListener('click', event => {
        if (searchbar.value.length >= 1) {
            getProducts();
        }
    });


    function getProducts() {
        var item = {};
        item['pattern'] = searchbar.value;
        var jsonIn = JSON.stringify(item);

        $.ajax({
            url: "/api/autocomp",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: jsonIn,
            success: function (response) {
                var json = JSON.parse(JSON.stringify(response))
                if (json.asin.length > 0) {
                    var index = Math.floor(Math.random() * json.asin.length)
                    searchbar.value = json.title[index]
                    searchbar.setAttribute("value", json.asin[index])

                    var ptitle = document.getElementById("p-title")
                    ptitle.innerHTML = "<b>" + json.title[index] + "</b>"

                    getProductDetails(json.asin[index])
                    getProductReviews(json.asin[index])
                }
            }
        })
    }

    function getProductDetails(asin) {
        var item = {};
        item['id'] = asin;
        var datas = JSON.stringify(item);
        $.ajax({
            url: "/api/get_product_details",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: datas,
            success: function (response) {
                details = response[0]

                var pdesc = document.getElementById("p-desc")
                var pprice = document.getElementById("p-price")
                var pcat = document.getElementById("p-cat")
                var pimg = document.getElementById("p-img")


                if (details.description != null) {
                    pdesc.innerHTML = details.description
                } else {
                    pdesc.innerHTML = ""
                }

                if (details.price != null) {
                    pprice.innerHTML = "<b>$" + details.price + "</b>"
                } else {
                    pprice.innerHTML = "<b>-</b>"
                }

                if (details.main_cat != null) {
                    pcat.innerHTML = "<b>" + details.main_cat + "</b>"
                } else {
                    pcat.innerHTML = "<b>-</b>"
                }

                if (details.image != null) {
                    pimg.innerHTML = '<img src="' + details.image + '" width="100%">'
                } else {
                    pimg.innerHTML = '<div>No picture</div>'
                }
            }
        })
    }

    function getProductReviews(asin) {
        var item = {};
        item['id'] = asin;
        var datas = JSON.stringify(item);
        $.ajax({
            url: "/api/get_all_reviews",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: datas,
            success: function (response) {

                console.log(response)
                var reviews = document.getElementById("reviews")
                reviews.innerHTML = ""
                var tmp

                if (response.length == 0) {
                    reviews.innerHTML = '<div class="text-center pt-4 pb-4">No reviews</div>'
                } else {
                    $.each(response, function (index, review) {
                        console.log(review)
                        tmp = '<div class="d-flex flex-row pb-3 pt-3"><div class="col-2 text-center d-flex flex-column"><span>' + review.reviewerName + '</span><div>'
                        for (let stars = 1; stars < 6; stars++) {
                            if (stars <= review.overall) {
                                tmp += '<span class="fa fa-star checked"></span>'
                            } else {
                                tmp += '<span class="fa fa-star"></span>'
                            }
                        }
                        tmp += '</div><span>' + review.reviewTime + '</span></div><div class="d-flex flex-column col-9"><span><b>' + review.summary + '</b></span><span>' + review.reviewText + '</span></div></div>'

                        reviews.innerHTML += tmp
                    })
                }
            }
        })
    }

</script>
{% endblock %}