<!-- On hérite de la page de base -->
{% extends 'base.html' %}


<!-- Ajout du contenu -->
{% block content %}
<div class="container-fluid d-flex flex-column p-0 w-100">
    <!-- Product -->
    <div class="row w-100 d-flex flex-row p-0 m-0">
        <div class="title">
            <b>Product</b>
        </div>
        <div id="p-img text-center" class="col-3 p-0">
            <img src="https://media.ldlc.com/r1600/ld/products/00/05/14/22/LD0005142206_2.jpg" width="100%"></img>
        </div>

        <div class="col-9 p-3">
            <div id="p-title" class="p-title">
                <b>Souris Logitech G502</b>
            </div>

            <div id="p-desc" class="p-desc">
                Logitech G502 HERO Souris Gamer Filaire Haute Performance, Capteur Gaming HERO 25K, 25 600 PPP, RVB,
                Poids Ajustable, 11 Boutons Programmables, Mémoire Intégrée, PC/Mac - Noire
            </div>

            <div id="p-price" class="p-price">
                <b>59.99$</b>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="row w-100 p-0 m-0">
        <div class="title">
            <b>Reviews</b>
        </div>
        <div class="reviews d-flex flex-row p-3">
            <div class="col-3 text-center">
                <span>John</span>
                <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span>12/08/2021 - 18:52</span>
            </div>
            <div class="d-flex flex-column col-9">
                <span>
                    When your unique leading character, the person the show has been built around for 17 seasons,
                    decides it is time to go home, wrap the series while you can still do it gracefully. CBS didn't do
                    that. Instead, they gave us an NCIS season with Mark Harmon as Leroy Jethro Gibbs mostly on the
                    sidelines, and major characters departing in all directions. It was mostly painful to watch. No
                    offense to Sean Murray as McGee, but folks aren't going to tune in indefinitely to watch him leading
                    what we know is Gibbs' team.

                    As another reviewer has noted, the departure of "Jack" Sloane should have been a warning. The
                    shocking no-notice loss of Eleanor Bishop (Emily Wickersham) at season's end short-circuited a
                    promising romance and further gutted the cast. CBS reportedly is bringing in a couple of new cast
                    members for Season 19, but it is hard to see how that is going to restore the dynamic of the show.
                    Hope CBS has better ideas for Season 19 and quickly. Season 18 is only recommended to really
                    hardcore fans of the series.
                </span>
            </div>
        </div>

        <div class="reviews d-flex flex-row p-3">
            <div class="col-3 text-center">
                <span>Jack</span>
                <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span>12/08/2021 - 18:42</span>
            </div>
            <div class="d-flex flex-column col-9 text-left">
                <span>
                    It is not as good as the first one and it’s definitely not teenage appropriate as there is a lot
                    more sexual content in this one but it was still a quite enjoyable flick
                </span>
            </div>
        </div>

        <div class="reviews d-flex flex-row p-3">
            <div class="col-3 text-center">
                <span>Robin</span>
                <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span>12/08/2021 - 18:32</span>
            </div>
            <div class="d-flex flex-column col-9 text-left">
                <span>
                    Season finale sucked. Series finale sucked. Gibbs "maturing" sucked, betraying every value the show
                    had. When Jack leaves, you leave too -- trust me. 17 years of character development trashed. Like
                    being burnt by your bestfriend or "family". If I could give zero stars I would.
                </span>
            </div>
        </div>

    </div>




</div>
{% endblock %}



{% block script %}
<script>


    $(document).ready(function () {


    })

    var searchbar = document.getElementById("searchbar")
    searchbar.addEventListener('keyup', logKey);

    function logKey(e) {
        if (searchbar.value.length >= 3) {
            getProducts();
        }
    }

    function getProducts() {
        var item = {};
        item['pattern'] = searchbar.value;
        var jsonIn = JSON.stringify(item);
        console.log("input")
        console.log(jsonIn)

        $.ajax({
            url: "/api/autocomp",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: jsonIn,
            success: function (response) {
                var json = JSON.parse(JSON.stringify(response))
                if (json.asin.length > 0) {
                    var index = Math.floor(Math.random() * json.asin.length)
                    searchbar.value = json.title[index]
                    searchbar.setAttribute("value", json.asin[index])

                    var ptitle = document.getElementById("p-title")


                    ptitle.innerHTML = "<b>" + json.title[index] + "</b>"



                    getProductDetails(json.asin[index])
                }
            }
        })
    }

    function getProductDetails(asin) {
        var item = {};
        item['id'] = asin;
        var datas = JSON.stringify(item);
        $.ajax({
            url: "/api/get_product_details",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: datas,
            success: function (response) {
                details = response[0]

                var pdesc = document.getElementById("p-desc")
                var pprice = document.getElementById("p-price")
                var pimg = document.getElementById("p-img")


                if (details.description != null) {
                    pdesc.innerHTML = details.description
                } else {
                    pdesc.innerHTML = ""
                }

                if (details.price != null) {
                    pprice.innerHTML = "<b>" + details.price + "$</b>"
                } else {
                    pprice.innerHTML = "<b>-</b>"
                }

                if (details.image != null) {
                    pimg.innerHTML = '<img src="' + details.image + '" width="100%"></img>'
                } else {
                    pimg.innerHTML = '<div>No picture</div>'
                }
            }
        })
    }

    function getProductReviews(asin) {
        var item = {};
        item['id'] = asin;
        var datas = JSON.stringify(item);
        $.ajax({
            url: "/api/get_all_reviews",
            contentType: "application/json; charset=utf-8", //type de donnée envoyée
            dataType: "json", //type de donnée reçue
            type: "POST",
            data: datas,
            success: function (response) {
                console.log(response[0])
            }
        })
    }

</script>
{% endblock %}